* -text
*.c linguist-detectable=false
makefile linguist-detectable=false
Makefile linguist-detectable=false
prebuild linguist-detectable=false
*.o linguist-detectable=false
*.obj linguist-detectable=false
*.res linguist-detectable=false
*.idb linguist-detectable=false
*.pdb linguist-detectable=false
*.log linguist-detectable=false
*.tlog linguist-detectable=false
*.recipe linguist-detectable=false
*.aps linguist-detectable=false
*.h linguist-detectable=false
*.sh linguist-detectable=false
*.yml linguist-detectable=false
*.yaml linguist-detectable=false
*.sln linguist-detectable=false
